.container-4 {
  @include displayColCent;
  justify-content: space-around;
  width: 100%;

  margin-top: 10%;
  padding: 10% 10%;
}

.customer1 {
  margin-bottom: 70px;
  h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  hr {
    width: 15%;
    border: 2px $bg-blue solid;
    margin: 3% auto;
  }
}
.customer2 {
  width: 100%;
}
.customer21 {
  width: 100%;
  @include displayColCent;
  align-items: self-start;

  .customer211 {
    width: 90%;
    background: $bg-blue;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
  }
  .customer211::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 20px;
    border: 15px solid transparent;
    border-right-color: $bg-blue;
    rotate: -90deg;
  }

  p {
    font-size: 16px;
    color: black;
  }

  .customer212 {
    @include displayRowBW;

    gap: 10px;

    .customer213 {
      h1 {
        font-size: 20px;
        font-weight: 400;
      }
      h6 {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.swiper {
  max-width: 100%;
  height: auto;

  .swiper-pagination-bullet {
    background: $text-orange-color;
    width: 10px;
    height: 10px;
    transition: 0.3s;
  }
}

.swiper-pagination-bullets {
  position: relative;
  margin-top: 30px;
}

.swiper-pagination {
  margin-bottom: -0px;
}
