@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "variables";
@import "bodyAndNav";
@import "container1";

.container-2 {
  background: url("../images/mountain20.png");
  background-size: cover;
  background-position: center;
  padding: 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.black {
  background: $nav-bg-color;
  padding: 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .textBlack {
    color: $text-white-color;
  }
}

.blue21 .white3 {
  text-transform: uppercase;
}

.customer2 {
  display: flex;
  flex-direction: row;
}

.customer211 {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: $bg-blue;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;

  p {
    font-size: 16px;
    color: $text-white-color;
  }
}
.customer212 {
  display: flex;

  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.pink {
  background: $text-orange-color;
  .footer {
    background: $nav-bg-color;
  }
}
