@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "variables";
@import "bodyAndNav";
@import "container1";

.container-2 {
  background: url("../images/mountain20.png");
  background-size: cover;
  background-position: center;
  padding: 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.black {
  background: $nav-bg-color;
  padding: 10% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .textBlack {
    color: $text-white-color;
  }
}
