@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "1_variables";
@import "2_bodyAndNav";
@import "3_container1";
@import "4_socialMedia";
@import "5_container2";
@import "6_textBlack";
@import "7_textWhite";
@import "8_container3_Pricing";
@import "9_container4_Customer.scss";
@import "10_container5_Contact.scss";
@import "11_mobile.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: $desktopWidth;
  font-family: Montserrat;
}
